exercise2_ws/.catkin_tools/
exercise2_ws/logs/
exercise2_ws/devel/
exercise2_ws/build/
exercise3_ws/.catkin_tools/
exercise3_ws/logs/
exercise3_ws/devel/
exercise3_ws/build/
*/build
*/devel
*/logs
.vscode/